/.DS_Store
/.trae
/.model
/.model_*
/main.py
/cordova_app/
/fmo-mobile-controller AI.html

/wwwroot
/model_sherpa/encoder-epoch-99-avg-1.int8.onnx
/model_sherpa/encoder-epoch-99-avg-1.onnx
/fmo-controller-iso.html
model_sherpa/encoder-epoch-99-avg-1.int8.onnx
model_sherpa/encoder-epoch-99-avg-1.onnx
